#jumbo {
    background-color: #20315A;
    color: white;
}

.txt {
    margin-top: -4.6em;
    margin-left: 0.3em;
}

.txt1 {
    margin-top: -4.7em;
    margin-left: 4px;
}

.txt2 {
    margin-top: -4.4em;
    margin-left: 6px;
}

.txt3 {
    margin-top: -4em;
    margin-left: 6px;
}

#trash {
    margin-left: 1em;
}

#panel-bottom {}